body{

    height: 98vh;
}
.topnav{ 
    overflow:hidden;  
}
.topnav a{
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
    color: #f2f2f2;
    text-align: center;
    float:left;
    
}
.topnav a:hover{
    background-color: #ddd;
    color:black;

}
.topnav a.active{
    color:white;
}
.topnav  h1{
    text-align: center;
    background-color: black;
    color:white;
    height: 40px;
}

.title  h1{
    color:#f2f2f2;
    text-align: center;

}
.title h2{
    color:#f2f2f2;
    text-align: center;
}
#container{
    
    text-decoration: none;
    text-align: center;
    display:block;
    margin:auto;
}
.btn a{
 background:white;
 color:black;
 text-decoration: none;
 
}
button{
    width:25%;
    font-size: 100%;
    font-weight: 300;
    
}
form{
    position:fixed;
    left:42%;
    top: 30%;
}
